@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-and-hero {
    background: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 100px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    margin-left: auto;
}

#header-link { /* id necessary to avoid default color from inheritance */
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    padding-left: 20px;
}

.hero {
    display: flex;
    padding-bottom: 100px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    width: 420px;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    width: 420px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 0.6em 2em;
    border: 0;
    font-weight: bold;
}

.hero-image {
    padding-left: 50px;
}

.info {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.info-media {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.info-image {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
}

.info-image-text {
    width: 150px;
    padding-bottom: 100px;
}

.quote {
    background-color: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-top: 100px;
    width: 900px;
}

.quote-accredit {
    padding-bottom: 100px;
    padding-left: 600px;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    flex-direction: column;
}

.action-banner {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 100px;
    padding: 50px 100px;
}

.action-hero {
    padding-right: 200px;
}

.action-header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.action-header-text {
    color: #f9faf8;
}

.action-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 50px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
